.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 50rem;

  &__side {
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
        transform: rotateX(180deg);
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
        transform: rotateY(180deg);
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
        transform: rotateX(180deg);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateX(-180deg);
    &-2 {
      transform: rotateY(-180deg);
    }
  }
  &:hover &__side--back {
    transform: rotateX(0);
  }
}
